.outlined {
    border: 1px solid dimgray; 
}

a.navld {
    font-family: 'Josefin Sans', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 1.4em;
    color: dimgray;
    margin-left: 1.5em;
    margin-right: 1.5em;
}


.navbarld {
    margin-top: 5em;
}

a.nameld {
    font-size: 1.6em;
}

.logold {
    height: 100 px;
    width: 100px;
    margin-bottom: 1em;
}

.bordertopld {
    border-top: 1px solid rgba(49,49,49,0.1);
}
.borderbottomld {
    border-bottom: 1px solid rgba(49,49,49,0.1);
}
.borderrightld {
    border-right: 1px solid rgba(49,49,49,0.1);
}

h1, h2, h3, h4, h5, input, span {  
    font-family: 'Josefin Sans', sans-serif; 
    font-style: normal;
    font-weight: 300;
    color: dimgray;
    
}

p, a, img, div {
    font-family: 'Source Serif Pro', serif;
    color: dimgray;
}

p a {
    color: pink;
}
a:visited {
    color: dimgray;
}
a:hover {
    color: darkseagreen;
    text-decoration: none;
}
p a {
    color: darkgreen;
}
p a:visited {
    color: darkseagreen;
}

.top4emld {
    margin-top: 4em;
}

.top2emld {
    margin-top: 2.7em;
}

.bottom2emld {
    margin-bottom: 2em;
}

.paddingtop1em {
    padding-top: 1em;
}
.paddingtop1plusem {
    padding-top: 1.5em;
}

/*THis is the timeline*/
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 300;
  text-align: left;
}



.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -34px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(46,139,87);
  z-index: 10;
}

.direction-r .flag:before {
  left: -38px;
}

.direction-l .flag:after {
  
}

.direction-r .flag:after {
  
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(46,139,87);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.flag a {
 font-family: 'Josefin Sans', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 1.4em;
    color: dimgray;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
    border: 1px solid rgb(46,139,87);
    border-radius: 0;
    padding-top: 10px;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -8px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(46,139,87);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(250,250,250);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}