<div class="row top4emld">
    <div class="col-xs-12 col-sm-5">           
        <img src="" class="pull-right" alt="Lena Dís"></img>
    </div>
    <div class="col-xs-12 col-sm-7">
        <p>I am a 27 year old, learning Multimedia Design and Communication at KEA. I am from Iceland but I live in Denmark. Multimedia design is the perfect match for me as I like a little bit of everything. </p>
    </div>
</div>
<div class="row top4emld">
    <div class="bordertopld text-center col-xs-12">
        <h3>What I Like</h3>
    </div>
</div>
<div class="row">
    <div class="bordertopld text-center col-xs-4 borderrightld">
        <img src="img/responsive.png" alt="" class="img-responsive"></img>
        <h4>HTML/CSS</h4>
        <p>I like designing and programming responsive websites. I also like working with bootstrap.</p>
    </div>
    <div class="bordertopld text-center col-xs-4 borderrightld">
        <h4>UX Design</h4>
        <p>I want to create intuative and simple user friendly design.</p>
    </div>
    <div class="bordertopld text-center col-xs-4">
        <h4>Social Media</h4>
        <p>I'm intrested in creating and researching what content works for social media.</p>
    </div>
</div>