<div class="row top4emld">
    <div class="col-xs-5">           
        <img src="img/egpolygreenpng.png" class="pull-right img-responsive bottom2emld" alt="Lena Dís"></img>
    </div>
    <div class="col-xs-12 col-sm-5">
        <p>I am studying Multimedia Design and Communication at KEA. Multimedia design is the perfect match for me as I like a little bit of everything.</p>
        <p>I'm interested in pursuing a career in Web Development and Web Design.</p>
        <p>I also like to find new ways and ways to incorporate new techonlogy in what I'm doing.</p>
        
        
        <p>I am from <a href="https://www.youtube.com/watch?v=npawmHVaf-E">Iceland</a>, living in <a href="https://www.youtube.com/watch?v=f085YkS8UEo">Denmark</a>.</p>
        <p>I was born in 1988 same year as <a href="https://youtu.be/dQw4w9WgXcQ?t=43">this</a> masterpiece was made. Also the same year as my favorite movie, <a href="https://www.youtube.com/watch?v=ugUaxot1UgE">Coming to America</a>, came out.
        </p>
        <p>I speak Icelandic, English and my <a href="https://www.youtube.com/watch?v=z8VziyktyS0">Danish</a> is getting better although I'm better at understanding than actually speaking. I also speak a bit of <a href="https://www.youtube.com/watch?v=xiWtqVtd1Oo">Spanish</a> after travelling for 6 months in South America.</p>
        <p>This website is made using Bootstrap and AngularJS.</p>
        <p>You can find it <a href="https://github.com/lenadis/lenacv">here</a> on GitHub.</p>
        
</div>
</div>

<div class="row top4emld">
     
        <div class="bordertopld text-center col-xs-12">
            <h3>Languages</h3>
        </div>
 
        <div class="bordertopld text-center col-xs-6 col-sm-3 borderrightld">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <img src="img/hello.png" class="img-responsive"></img>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>ENGLISH</h4>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
        </div>

        <div class="bordertopld text-center col-xs-6 col-sm-3 borderrightld">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <img src="img/hej.png" class="img-responsive"></img>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>DANISH</h4>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            </div>
        </div>

        <div class="bordertopld text-center col-xs-6 col-sm-3 borderrightld">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <img src="img/hae.png" class="img-responsive"></img>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>ICELANDIC</h4>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
        </div>

        <div class="bordertopld text-center col-xs-6 col-sm-3 borderrightld">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <img src="img/hola.png" class="img-responsive"></img>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>SPANISH</h4>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            </div>
        </div>

</div>


