<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag"><a href="http://www.kea.dk/en/">KEA</a></span>
				<span class="time-wrapper"><span class="time">2015 - 2017</span></span>
			</div>
			<div class="desc">AP degree in Multimedia Design.</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag"><a href="http://www.ru.is">Reykjavík University</a></span>
				<span class="time-wrapper"><span class="time">2012 - 2014</span></span>
			</div>
			<div class="desc">I took one year of Mechatronics Engineering and one year of Software Engineering.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag"><a href="http://en.tskoli.is/">Technical College Reykjavík</a></span>
				<span class="time-wrapper"><span class="time">2011 - 2012</span></span>
			</div>
			<div class="desc">A year of Technical Drawing where I learned to use the programs Autocad, Revit and Inventor. Also where I first got introduced to Illustrator and Photoshop.</div>
		</div>
	</li>

</ul>
