
<div class="row top4emld text-center">
    <div class="col-xs-12">
        <h1>Hi, my name is Lena.</h1>
        <h2><a href="reports/LenaCV.pdf">Here is my CV in pdf.</a></h2>
    </div>
</div>

<div class="row top4emld">
    <div class="bordertopld text-center col-xs-12">
        <h3>What I Like</h3>
    </div>
</div>
<div class="row">
    <div class="bordertopld text-center col-xs-12 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
          <div class="col-xs-12 top2emld bottom2emld top4emld">
              <i class="fa fa-font fa-4x text-center" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-xs-12">
            <h4>UI Design</h4>
            <p>I like making a vision come to reality by making the graphic elements and typography and making it all work together as a whole.</p>
        </div>
    </div>

    <div class="bordertopld text-center  col-xs-12 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 top2emld top4emld bottom2emld">
                <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12">
            <h4>UX Design</h4>
            <p>My main focus is always on creating what the user needs, not what I want to make.</p>
        </div>
    </div>


    <div class="bordertopld text-center  col-xs-12 col-sm-4">
        <div class="top4emld bottom2emld">
          <div class="col-xs-12 top2emld top4emld bottom2emld">
              <i class="fa fa-users fa-4x text-center" aria-hidden="true"></i>
          </div>
        </div>

        <div class="col-xs-12">
            <h4>Social Media</h4>
            <p>I'm interested in creating and researching content and strategies for social media.</p>
        </div>
    </div>
</div>
