<div class="row top4emld">
    <div class="bordertopld text-center col-xs-12">
        <h3>Skills</h3>
    </div>
</div>
<div class="row">
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-code fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>HTML/CSS</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-keyboard-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>PHP</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <a href="https://github.com/lenadis">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <i class="fa  fa-github fa-4x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>GIT</h4>
            </div>
        </a>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-database fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>MYSQL</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>ILLUSTRATOR</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>SOCIAL MEDIA</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-picture-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>PHOTOSHOP</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-smile-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>UX+UI DESIGN</h4>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <img class="" src="img/angular.png" aria-hidden="true"></img>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>ANGULARJS</h4>
        </div>
    </div>


    
    
   

