<div class="row top4emld">
    <div class="bordertopld text-center col-xs-12">
        <h3>Portfolio</h3>
    </div>
</div>


<div class="row">
    <div class="bordertopld text-center col-xs-12 col-sm-6 borderrightld">
        <a href="http://46.101.42.17/SpotifyWeb/">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <img class="img-responsive" src="img/spotify.png"></img>

                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>Spotify</h4>
                <p>We were asked to chose a music streaming service and develop a marketing campaign that would increase and maintain their market share. The group chose to Spotify as a subject with the interest in how Spotify could encourage more users to switch to Premium subscription. A report was written and campaign concept along with a communication plan.</p> <a href="reports/ReportSpotify.pdf">Here is the you can find the report with our findings.</a>

            </div>
        </a>
    </div>
    
    <div class="bordertopld text-center col-xs-12 col-sm-6">
        <a href="http://www.lenadis.com/movies">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <img  class="img-responsive" src="img/movies.png"></img>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>AngularJS</h4>
                <p>A website made for AngularJS class. The assignment was to work with an API from a student from the Node class. We chose to attempt to solve the modern problem of choosing which movie to watch. Unfortunately there are only 27 movies in the database, but I'm working on connecting it to another API so I can actually use it for myself.</p>
            </div>
        </a>
    </div>
</div>


    
    
   

