<div class="row top4emld">
    <div class="bordertopld text-center col-xs-12">
        <h3>Skills</h3>
    </div>
</div>
<div class="row">
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-code fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>HTML/CSS</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-keyboard-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>PHP</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <a href="https://github.com/lenadis">
            <div class="top4emld bottom2emld">
                <div class="col-xs-12 col-sm-12 bottom2emld">
                    <i class="fa  fa-github fa-4x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-12 bottom2emld">
                <h4>GIT</h4>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            </div>
        </a>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-database fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>MYSQL</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>ILLUSTRATOR</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>SOCIAL MEDIA</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-picture-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>PHOTOSHOP</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <i class="fa fa-smile-o fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>UX+UI DESIGN</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
    
    <div class="bordertopld text-center col-xs-6 col-sm-4 borderrightld">
        <div class="top4emld bottom2emld">
            <div class="col-xs-12 col-sm-12 bottom2emld">
                <img class="" src="img/angular.png" aria-hidden="true"></img>
            </div>
        </div>
        <div class="col-xs-12 bottom2emld">
            <h4>ANGULARJS</h4>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
        </div>
    </div>
</div>
<!--

<div class="row">
    <div class="bordertopld text-center col-xs-12">
        <div class="col-xs-12 col-sm-6">
            <a href="http://www.lenadis.com/movies">
                <img src="img/movies.png"></img>
                <h4>A website made for AngularJS class. The assignment was to work with an API from a student from the Node class. We chose to attempt to solve the modern problem of chosing which movie to watch. Unfortunately there are only 27 movies in the database, but I'm working on connecting it to another API so I can actually use it for myself.</h4>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">

            <a href="http://46.101.42.17/SpotifyWeb/">
                <img class="img-responsive" src="img/spotify.png"></img>
            <h4>We were asked to chose a music streaming service and develop a marketing campaign that would increase and maintain their market share. The group chose to Spotify as a subject with the intrest in how Spotify could encourage more users to switch to Premium subscription. A report was written and campaign concept along with a communication plan. Here is the website that was made as a result of the research.</h4>
            </a>
        </div>
    </div>
</div>

-->

    
    
   

